.navbar-sidebar__footer {
  margin-top: auto;
  padding: 1rem 1.5rem;
  border-top: 1px solid var(--ifm-color-emphasis-300);
  background-color: var(--ifm-background-surface-color);
  margin-left: 6px;
}

.mobile-auth {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.mobile-auth-username {
  font-size: 0.9rem;
  color: var(--ifm-font-color-base);
      font-weight: bold;
}

.mobile-auth-button {
  padding: 8px 16px;
  background-color: #2e8555;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 0.9rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: block;
  width: 100%;
  transition: background-color 0.3s ease;
}

.mobile-auth-button:hover {
  background-color: #256d45;
}
